@-webkit-keyframes rollDown
{
  from { height:  0px; }
  to   { height: 30px; }
}

@-webkit-keyframes rollUp
{
  from { height: 30px; }
  to   { height:  0px; }
}

@keyframes rollDown
{
  from { height:  0px; }
  to   { height: 30px; }
}

@keyframes rollUp
{
  from { height: 30px; }
  to   { height:  0px; }
}


.hidden {
  animation:           rollUp 0.5s;
  animation-fill-mode:    forwards; 
  
  -webkit-animation:           rollUp 0.5s;
  -webkit-animation-fill-mode:    forwards;  
}

.visible {
  animation:           rollDown 0.5s; 
  animation-fill-mode:      forwards;  

  -webkit-animation:           rollDown 0.5s; 
  -webkit-animation-fill-mode:      forwards;  
}